# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyTorch
*.pth
*.pt

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Large model files and datasets
*.bin
*.h5
*.hdf5
*.pkl
*.pickle

# Temporary files
*.tmp
*.temp
*.log

# Conda
.conda/

# Templates and generated data
#templates/
#**/templates/
Data/Example/outputs/
tmp/
torch_cache/

# models 
Instance_Segmentation_Model/checkpoints/
Instance_Segmentation_Model/data/
Instance_Segmentation_Model/log/

Data/BOP
Data/BOP-Templates
log/